.circle {
  max-width: 100%;

  height: auto;

    border-radius: 50%;
  }

  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .circle {
    max-width: 100%;
  
    height: auto;
  
      border-radius: 10%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .circle {
    max-width: 100%;
  
    height: auto;
  
      border-radius: 20%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .circle {
    max-width: 100%;
  
    height: auto;
  
      border-radius: 30%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .circle {
    max-width: 100%;
  
    height: auto;
  
      border-radius: 40%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .circle {
    max-width: 100%;
  
    height: auto;
  
      border-radius: 50%;
    }
}